[submodule "firmware/avr-lcd1602"]
	path = firmware/avr-lcd1602
	url = https://github.com/Juppi88/avr-lcd1602.git
[submodule "firmware/avr-serial"]
	path = firmware/avr-serial
	url = https://github.com/Juppi88/avr-serial.git
